/* ── Variables ───────────────────────────────────────────── */
:root {
  --black:        #141413;
  --black-light:  #312f2f;
  --white:        #faf9f5;
  --white-dark:   #F0F1F2;
  --grey:         #87867f;
  --accent:       #D97757;

  --bg:           var(--white);
  --text:         var(--black);
  --nav-bg:       var(--black);
  --nav-text:     var(--white);
  --link:         var(--black);
  --bg-accent:     var(--white-dark);
}

html.dark {
  --bg:           var(--black);
  --text:         var(--white);
  --nav-bg:       var(--black-light);
  --nav-text:     var(--white);
  --link:         var(--accent);
  --bg-accent:    var(--black-light);
}

/* ── Base ────────────────────────────────────────────────── */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
  font-family: var(--inter-font), sans-serif;
  color: var(--text);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 680px;
  padding: 24px;
  line-height: 1.5;
}

.heading-xl {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.heading-lg {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
}

.heading-sm {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  color: var(--link);
}

/* ── Nav ─────────────────────────────────────────────────── */
.menu {
  background-color: var(--nav-bg);
  border: none;
  color: var(--nav-text);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--nav-text);
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--accent);
  color: var(--white);
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .menu {
    display: none;
  }

  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}

/* ── Random ─────────────────────────────────────────────────── */
.bundleParent {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.bundleItem {
  padding: 6px 12px;
  background: var(--bg-accent);
  border-radius: 100px;
}