@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #D97757;
  --font-inter: var(--inter-font), sans-serif;
}

@layer base {
  html {
    font-family: var(--font-inter);
    @apply antialiased;
  }

  body {
    @apply text-stone-700 dark:text-stone-300 p-6;
    margin: 0 auto;
    width: 100%;
    max-width: 680px;
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-stone-900 dark:text-white font-semibold;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-xl mt-4 mb-2;
  }

  a {
    @apply text-stone-700 dark:text-stone-300 hover:text-accent dark:hover:text-accent transition-colors;
  }
  
  button {
    @apply bg-accent rounded-xl py-1.5 px-3 text-white font-medium cursor-pointer;
  }
}