---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/astro-tutorial/">Home</a>
        <a href="/astro-tutorial/about/">About</a>
        <a href="/astro-tutorial/blog/">Blog</a>
        
        <h1>Hey!</h1>
        <p>Dolore sunt qui eiusmod exercitation ea ex. Eiusmod dolor ad velit excepteur qui nulla consequat pariatur sit id ipsum. Nulla occaecat do exercitation ad. Consectetur sit reprehenderit occaecat aute aute quis in.</p>
        <h2>Currently working on...</h2>
        <ol>
            <li><a href="https://samuel-king.com" target="_blank">Freelance Web Development</a></li>
            <li>AI Research</li>
            <li>Something else...</li>
        </ol>
	</body>
</html>