---
---
<div id="main-menu" class="hidden md:flex md:items-center md:gap-2">
    <a href="/astro-tutorial/" class="block text-center py-2 md:inline-block md:px-4 md:py-3 font-bold text-sm hover:text-accent transition-colors">Home</a>
    <a href="/astro-tutorial/about/" class="block text-center py-2 md:inline-block md:px-4 md:py-3 font-bold text-sm hover:text-accent transition-colors">About</a>
    <a href="/astro-tutorial/blog/" class="block text-center py-2 md:inline-block md:px-4 md:py-3 font-bold text-sm hover:text-accent transition-colors">Blog</a>
    <a href="/astro-tutorial/tags/" class="block text-center py-2 md:inline-block md:px-4 md:py-3 font-bold text-sm hover:text-accent transition-colors">Tags</a>
</div>